In [6]:
%sql postgresql://postgres:@localhost:5430/postgres

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/damac20/opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/damac20/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/damac20/opt/anaconda3/lib/python3.9/site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql

In [7]:
from sqlalchemy import create_engine

In [8]:
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
%%sql
Drop TABLE Superstore;
CREATE TABLE Superstore (
    Row_ID int,
    Order_ID varchar(255),
    Order_Date date,
    Ship_Date date,
    Ship_Mode varchar(255),
    Customer_ID varchar(255),
    Customer_Name varchar(255),
    Segment varchar(255),
    Country varchar(255),
    City varchar(255),
    State varchar(255),
    Postal_Code varchar(255),
    Region varchar(255),
    Product_ID varchar(255),
    Category varchar(255),
    Sub_Category varchar(255),
    Product_Name varchar(255),
    Sales float,
    Quantity int,
    Discount float,
    Profit float
    );

 * postgresql://postgres:***@localhost:5430/postgres
Done.
Done.

[]

In [10]:
%%sql
SELECT * FROM Superstore;

 * postgresql://postgres:***@localhost:5430/postgres
0 rows affected.

[]

In [11]:
%%sql
COPY Superstore FROM '/Users/damac20/Desktop/ss.csv' (FORMAT CSV, HEADER TRUE, DELIMITER ',', ENCODING 'UTF8');

 * postgresql://postgres:***@localhost:5430/postgres
9994 rows affected.

[]

In [12]:
%%sql
SELECT * FROM Superstore
LIMIT 5;

 * postgresql://postgres:***@localhost:5430/postgres
5 rows affected.

[(1, 'CA-2016-152156', datetime.date(2016, 11, 8), datetime.date(2016, 11, 11), 'Second Class', 'CG-12520', 'Claire Gute', 'Consumer', 'United States', 'Henderson', 'Kentucky', '42420', 'South', 'FUR-BO-10001798', 'Furniture', 'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 0.0, 41.9136),
 (2, 'CA-2016-152156', datetime.date(2016, 11, 8), datetime.date(2016, 11, 11), 'Second Class', 'CG-12520', 'Claire Gute', 'Consumer', 'United States', 'Henderson', 'Kentucky', '42420', 'South', 'FUR-CH-10000454', 'Furniture', 'Chairs', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3, 0.0, 219.582),
 (3, 'CA-2016-138688', datetime.date(2016, 6, 12), datetime.date(2016, 6, 16), 'Second Class', 'DV-13045', 'Darrin Van Huff', 'Corporate', 'United States', 'Los Angeles', 'California', '90036', 'West', 'OFF-LA-10000240', 'Office Supplies', 'Labels', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2, 0.0, 6.8714),
 (4, 'US-2015-108966', datetime.date(2015, 10, 11), datetime.date(2015, 10, 18), 'Standard Class', 'SO-20335', "Sean O'Donnell", 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', '33311', 'South', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5, 0.45, -383.031),
 (5, 'US-2015-108966', datetime.date(2015, 10, 11), datetime.date(2015, 10, 18), 'Standard Class', 'SO-20335', "Sean O'Donnell", 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', '33311', 'South', 'OFF-ST-10000760', 'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System", 22.368, 2, 0.2, 2.5164)]

In [13]:
%%sql
ALTER TABLE Superstore
DROP COLUMN row_id,
DROP COLUMN country

 * postgresql://postgres:***@localhost:5430/postgres
Done.

[]

In [14]:
%%sql
SELECT * FROM Superstore
LIMIT 5;

 * postgresql://postgres:***@localhost:5430/postgres
5 rows affected.

[('CA-2016-152156', datetime.date(2016, 11, 8), datetime.date(2016, 11, 11), 'Second Class', 'CG-12520', 'Claire Gute', 'Consumer', 'Henderson', 'Kentucky', '42420', 'South', 'FUR-BO-10001798', 'Furniture', 'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 0.0, 41.9136),
 ('CA-2016-152156', datetime.date(2016, 11, 8), datetime.date(2016, 11, 11), 'Second Class', 'CG-12520', 'Claire Gute', 'Consumer', 'Henderson', 'Kentucky', '42420', 'South', 'FUR-CH-10000454', 'Furniture', 'Chairs', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3, 0.0, 219.582),
 ('CA-2016-138688', datetime.date(2016, 6, 12), datetime.date(2016, 6, 16), 'Second Class', 'DV-13045', 'Darrin Van Huff', 'Corporate', 'Los Angeles', 'California', '90036', 'West', 'OFF-LA-10000240', 'Office Supplies', 'Labels', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2, 0.0, 6.8714),
 ('US-2015-108966', datetime.date(2015, 10, 11), datetime.date(2015, 10, 18), 'Standard Class', 'SO-20335', "Sean O'Donnell", 'Consumer', 'Fort Lauderdale', 'Florida', '33311', 'South', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5, 0.45, -383.031),
 ('US-2015-108966', datetime.date(2015, 10, 11), datetime.date(2015, 10, 18), 'Standard Class', 'SO-20335', "Sean O'Donnell", 'Consumer', 'Fort Lauderdale', 'Florida', '33311', 'South', 'OFF-ST-10000760', 'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System", 22.368, 2, 0.2, 2.5164)]

In [15]:
%%sql 

SELECT segment,

    COUNT(ship_mode) 

FROM Superstore

WHERE ship_mode = 'First Class'

GROUP By segment

 * postgresql://postgres:***@localhost:5430/postgres
3 rows affected.

[('Consumer', 769), ('Corporate', 485), ('Home Office', 284)]

In [16]:
%%sql 

SELECT segment,

    COUNT(ship_mode) 

FROM Superstore

WHERE ship_mode = 'Second Class'

GROUP By segment

 * postgresql://postgres:***@localhost:5430/postgres
3 rows affected.

[('Consumer', 1020), ('Corporate', 609), ('Home Office', 316)]

In [17]:
%%sql 

SELECT segment,

    COUNT(ship_mode) 

FROM Superstore

WHERE ship_mode = 'Standard Class'

GROUP By segment

 * postgresql://postgres:***@localhost:5430/postgres
3 rows affected.

[('Consumer', 3085), ('Corporate', 1812), ('Home Office', 1071)]

In [18]:
%%sql 

SELECT segment,

    COUNT(ship_mode) 

FROM Superstore

WHERE ship_mode = 'Same Day'

GROUP By segment

 * postgresql://postgres:***@localhost:5430/postgres
3 rows affected.

[('Consumer', 317), ('Corporate', 114), ('Home Office', 112)]

In [19]:
%%sql
SELECT
     product_name,	
	
	COUNT (sales)
FROM
	Superstore
GROUP BY
	product_name
LIMIT 3;

 * postgresql://postgres:***@localhost:5430/postgres
3 rows affected.

[('Avery Personal Creations Heavyweight Cards', 3),
 ('AT&T EL51110 DECT', 1),
 ('Global Leather Task Chair, Black', 8)]

In [57]:
%%sql
SELECT * FROM Superstore
LIMIT 20;

 * postgresql://postgres:***@localhost:5430/postgres
20 rows affected.

[('CA-2016-152156', datetime.date(2016, 11, 8), datetime.date(2016, 11, 11), 'Second Class', 'CG-12520', 'Claire Gute', 'Consumer', 'Henderson', 'Kentucky', '42420', 'South', 'FUR-BO-10001798', 'Furniture', 'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 0.0, 41.9136),
 ('CA-2016-152156', datetime.date(2016, 11, 8), datetime.date(2016, 11, 11), 'Second Class', 'CG-12520', 'Claire Gute', 'Consumer', 'Henderson', 'Kentucky', '42420', 'South', 'FUR-CH-10000454', 'Furniture', 'Chairs', 'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', 731.94, 3, 0.0, 219.582),
 ('CA-2016-138688', datetime.date(2016, 6, 12), datetime.date(2016, 6, 16), 'Second Class', 'DV-13045', 'Darrin Van Huff', 'Corporate', 'Los Angeles', 'California', '90036', 'West', 'OFF-LA-10000240', 'Office Supplies', 'Labels', 'Self-Adhesive Address Labels for Typewriters by Universal', 14.62, 2, 0.0, 6.8714),
 ('US-2015-108966', datetime.date(2015, 10, 11), datetime.date(2015, 10, 18), 'Standard Class', 'SO-20335', "Sean O'Donnell", 'Consumer', 'Fort Lauderdale', 'Florida', '33311', 'South', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 957.5775, 5, 0.45, -383.031),
 ('US-2015-108966', datetime.date(2015, 10, 11), datetime.date(2015, 10, 18), 'Standard Class', 'SO-20335', "Sean O'Donnell", 'Consumer', 'Fort Lauderdale', 'Florida', '33311', 'South', 'OFF-ST-10000760', 'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System", 22.368, 2, 0.2, 2.5164),
 ('CA-2014-115812', datetime.date(2014, 6, 9), datetime.date(2014, 6, 14), 'Standard Class', 'BH-11710', 'Brosina Hoffman', 'Consumer', 'Los Angeles', 'California', '90032', 'West', 'FUR-FU-10001487', 'Furniture', 'Furnishings', 'Eldon Expressions Wood and Plastic Desk Accessories, Cherry Wood', 48.86, 7, 0.0, 14.1694),
 ('CA-2014-115812', datetime.date(2014, 6, 9), datetime.date(2014, 6, 14), 'Standard Class', 'BH-11710', 'Brosina Hoffman', 'Consumer', 'Los Angeles', 'California', '90032', 'West', 'OFF-AR-10002833', 'Office Supplies', 'Art', 'Newell 322', 7.28, 4, 0.0, 1.9656),
 ('CA-2014-115812', datetime.date(2014, 6, 9), datetime.date(2014, 6, 14), 'Standard Class', 'BH-11710', 'Brosina Hoffman', 'Consumer', 'Los Angeles', 'California', '90032', 'West', 'TEC-PH-10002275', 'Technology', 'Phones', 'Mitel 5320 IP Phone VoIP phone', 907.152, 6, 0.2, 90.7152),
 ('CA-2014-115812', datetime.date(2014, 6, 9), datetime.date(2014, 6, 14), 'Standard Class', 'BH-11710', 'Brosina Hoffman', 'Consumer', 'Los Angeles', 'California', '90032', 'West', 'OFF-BI-10003910', 'Office Supplies', 'Binders', 'DXL Angle-View Binders with Locking Rings by Samsill', 18.504, 3, 0.2, 5.7825),
 ('CA-2014-115812', datetime.date(2014, 6, 9), datetime.date(2014, 6, 14), 'Standard Class', 'BH-11710', 'Brosina Hoffman', 'Consumer', 'Los Angeles', 'California', '90032', 'West', 'OFF-AP-10002892', 'Office Supplies', 'Appliances', 'Belkin F5C206VTEL 6 Outlet Surge', 114.9, 5, 0.0, 34.47),
 ('CA-2014-115812', datetime.date(2014, 6, 9), datetime.date(2014, 6, 14), 'Standard Class', 'BH-11710', 'Brosina Hoffman', 'Consumer', 'Los Angeles', 'California', '90032', 'West', 'FUR-TA-10001539', 'Furniture', 'Tables', 'Chromcraft Rectangular Conference Tables', 1706.184, 9, 0.2, 85.3092),
 ('CA-2014-115812', datetime.date(2014, 6, 9), datetime.date(2014, 6, 14), 'Standard Class', 'BH-11710', 'Brosina Hoffman', 'Consumer', 'Los Angeles', 'California', '90032', 'West', 'TEC-PH-10002033', 'Technology', 'Phones', 'Konftel 250 Conference\xa0phone\xa0- Charcoal black', 911.424, 4, 0.2, 68.3568),
 ('CA-2017-114412', datetime.date(2017, 4, 15), datetime.date(2017, 4, 20), 'Standard Class', 'AA-10480', 'Andrew Allen', 'Consumer', 'Concord', 'North Carolina', '28027', 'South', 'OFF-PA-10002365', 'Office Supplies', 'Paper', 'Xerox 1967', 15.552, 3, 0.2, 5.4432),
 ('CA-2016-161389', datetime.date(2016, 12, 5), datetime.date(2016, 12, 10), 'Standard Class', 'IM-15070', 'Irene Maddox', 'Consumer', 'Seattle', 'Washington', '98103', 'West', 'OFF-BI-10003656', 'Office Supplies', 'Binders', 'Fellowes PB200 Plastic Comb Binding Machine', 407.976, 3, 0.2, 132.5922),
 ('US-2015-118983', datetime.date(2015, 11, 22), datetime.date(2015, 11, 26), 'Standard Class', 'HP-14815', 'Harold Pawlan', 'Home Office', 'Fort Worth', 'Texas', '76106', 'Central', 'OFF-AP-10002311', 'Office Supplies', 'Appliances', 'Holmes Replacement Filter for HEPA Air Cleaner, Very Large Room, HEPA Filter', 68.81, 5, 0.8, -123.858),
 ('US-2015-118983', datetime.date(2015, 11, 22), datetime.date(2015, 11, 26), 'Standard Class', 'HP-14815', 'Harold Pawlan', 'Home Office', 'Fort Worth', 'Texas', '76106', 'Central', 'OFF-BI-10000756', 'Office Supplies', 'Binders', 'Storex DuraTech Recycled Plastic Frosted Binders', 2.544, 3, 0.8, -3.816),
 ('CA-2014-105893', datetime.date(2014, 11, 11), datetime.date(2014, 11, 18), 'Standard Class', 'PK-19075', 'Pete Kriz', 'Consumer', 'Madison', 'Wisconsin', '53711', 'Central', 'OFF-ST-10004186', 'Office Supplies', 'Storage', 'Stur-D-Stor Shelving, Vertical 5-Shelf: 72"H x 36"W x 18 1/2"D', 665.88, 6, 0.0, 13.3176),
 ('CA-2014-167164', datetime.date(2014, 5, 13), datetime.date(2014, 5, 15), 'Second Class', 'AG-10270', 'Alejandro Grove', 'Consumer', 'West Jordan', 'Utah', '84084', 'West', 'OFF-ST-10000107', 'Office Supplies', 'Storage', 'Fellowes Super Stor/Drawer', 55.5, 2, 0.0, 9.99),
 ('CA-2014-143336', datetime.date(2014, 8, 27), datetime.date(2014, 9, 1), 'Second Class', 'ZD-21925', 'Zuschuss Donatelli', 'Consumer', 'San Francisco', 'California', '94109', 'West', 'OFF-AR-10003056', 'Office Supplies', 'Art', 'Newell 341', 8.56, 2, 0.0, 2.4824),
 ('CA-2014-143336', datetime.date(2014, 8, 27), datetime.date(2014, 9, 1), 'Second Class', 'ZD-21925', 'Zuschuss Donatelli', 'Consumer', 'San Francisco', 'California', '94109', 'West', 'TEC-PH-10001949', 'Technology', 'Phones', 'Cisco SPA 501G IP Phone', 213.48, 3, 0.2, 16.011)]

In [44]:
%%sql
SELECT DISTINCT(sub_category) FROM Superstore;

 * postgresql://postgres:***@localhost:5430/postgres
17 rows affected.

[('Tables',),
 ('Art',),
 ('Storage',),
 ('Bookcases',),
 ('Fasteners',),
 ('Envelopes',),
 ('Appliances',),
 ('Accessories',),
 ('Paper',),
 ('Phones',),
 ('Binders',),
 ('Copiers',),
 ('Supplies',),
 ('Labels',),
 ('Chairs',),
 ('Machines',),
 ('Furnishings',)]

most popular sub category for each segment

In [100]:
%%sql
SELECT segment,sub_category ,SUM(sales) AS sales FROM Superstore GROUP BY segment,sub_category ORDER BY sales DESC LIMIT 2;

 * postgresql://postgres:***@localhost:5430/postgres
2 rows affected.

[('Consumer', 'Chairs', 172862.74200000014),
 ('Consumer', 'Phones', 169932.76400000026)]

Top five most popular products

In [121]:
%%sql
SELECT product_name,  SUM(sales) AS sales  FROM  Superstore GROUP BY product_name,sales ORDER BY sales DESC LIMIT 8;

 * postgresql://postgres:***@localhost:5430/postgres
8 rows affected.

[('Cisco TelePresence System EX90 Videoconferencing Unit', 22638.48),
 ('Canon imageCLASS 2200 Advanced Copier', 17499.95),
 ('Canon imageCLASS 2200 Advanced Copier', 13999.96),
 ('Canon imageCLASS 2200 Advanced Copier', 11199.968),
 ('Canon imageCLASS 2200 Advanced Copier', 10499.97),
 ('GBC Ibimaster 500 Manual ProClick Binding System', 9892.74),
 ('Ibico EPK-21 Electric Binding System', 9449.95),
 ('3D Systems Cube Printer, 2nd Generation, Magenta', 9099.93)]

Belong to the category

In [126]:
%%sql
SELECT product_name,category,SUM(sales) AS sales  FROM  Superstore GROUP BY product_name,sales,category ORDER BY sales DESC LIMIT 8;

 * postgresql://postgres:***@localhost:5430/postgres
8 rows affected.

[('Cisco TelePresence System EX90 Videoconferencing Unit', 'Technology', 22638.48),
 ('Canon imageCLASS 2200 Advanced Copier', 'Technology', 17499.95),
 ('Canon imageCLASS 2200 Advanced Copier', 'Technology', 13999.96),
 ('Canon imageCLASS 2200 Advanced Copier', 'Technology', 11199.968),
 ('Canon imageCLASS 2200 Advanced Copier', 'Technology', 10499.97),
 ('GBC Ibimaster 500 Manual ProClick Binding System', 'Office Supplies', 9892.74),
 ('Ibico EPK-21 Electric Binding System', 'Office Supplies', 9449.95),
 ('3D Systems Cube Printer, 2nd Generation, Magenta', 'Technology', 9099.93)]

the biggest discount in each category

In [137]:
%%sql
SELECT category,MAX(discount) AS biggest_discount FROM Superstore   GROUP BY category;

 * postgresql://postgres:***@localhost:5430/postgres
3 rows affected.

[('Furniture', 0.7), ('Office Supplies', 0.8), ('Technology', 0.7)]

In [ ]:
%%sql
SELECT  discount,COUNT(product_name) FROM Superstore WHERE discount>0.25 GROUP BY product_name;

In [159]:
%%sql
SELECT city,customer_name, state,MAX(sales) FROM Superstore GROUP BY city,customer_name,sales,state ORDER BY sales DESC LIMIT 5;

 * postgresql://postgres:***@localhost:5430/postgres
5 rows affected.

[('Jacksonville', 'Sean Miller', 'Florida', 22638.48),
 ('Lafayette', 'Tamara Chand', 'Indiana', 17499.95),
 ('Seattle', 'Raymond Buch', 'Washington', 13999.96),
 ('New York City', 'Tom Ashbrook', 'New York', 11199.968),
 ('Newark', 'Hunter Lopez', 'Delaware', 10499.97)]

In [160]:
%%sql
SELECT city,postal_code AS postalCode FROM Superstore WHERE postal_code IS  NOT NULL GROUP BY city,postal_code LIMIT 3;

 * postgresql://postgres:***@localhost:5430/postgres
3 rows affected.

[('Virginia Beach', '23464'),
 ('Des Plaines', '60016'),
 ('Mount Pleasant', '48858')]